<template>
  <div class="container box">
    <h1 class="subtitle">Funcion objetivo</h1>
    <div class="container">
      <h1 class="subtitle">Objetivo</h1>
      <div class="select is-fullwidth">
        <select v-model="objetivo" @change="objetivechage">
          <option value="Maximizar">Maximizar</option>
          <option value="Minimizar">Minimizar</option>
        </select>
      </div>
    </div>
    <br />
    <div v-if="varsNumber>=0" class="columns">
      <h1 class="subtitle column container">Z=</h1>
      <div v-for="(index) in varsNumber" class="column" :key="index">
        <input
          v-model.number="funcion[(index-1)]"
          type="text"
          class="input"
          v-bind:placeholder="'X'+(index-1)"
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    varsNumber: Number,
    obj: String,
    funcion: Array
  },
  data() {
    return {
      vars: [],
      objetivo: this.obj
    };
  },
  methods: {
    objetivechage() {
      this.$emit("objetiveChange", this.objetivo);
    }
  }
};
</script>