<template>
  <div class="container box">
    <div class="container">
      <h1 class="subtitle">Restricciones</h1>
      <div v-for="(index1) in nRestricciones" :key="index1" class="columns">
        <div v-for="(index) in nVars" :key="index" class="column">
          <input
            v-model.number="matrix[index1-1][index]"
            class="input"
            type="text"
            :placeholder="'X'+(index-1)"
          />
        </div>
        <div class="column">
          <div class="select is-fullwidth">
            <select v-model.number="matrix[index1-1][0]">
              <option value="0">{{'<='}}</option>
              <option value="1">{{'>='}}</option>
              <option value="2">{{'='}}</option>
            </select>
          </div>
        </div>
        <div class="column">
          <input class="input" v-model.number="matrix[index1-1][nVars+1]" type="text" />
        </div>
        <hr />
      </div>
      <div class="columns">
        <div class="column">
          <button @click="add" class="button is-success">Agregar</button>
        </div>
        <div class="column">
          <button @click="remove" class="button is-danger">Remover</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    nVars: Number,
    matrix: Array
  },
  data() {
    return {
      nRestricciones: 1
    };
  },
  methods: {
    add() {
      this.matrix.push([]);
      this.nRestricciones++;
    },
    remove() {
      if (this.nRestricciones > 1) {
        this.matrix.pop();
        this.nRestricciones--;
      }
    }
  }
};
</script>