<template>
  <div id="app">
    <div class="section">
      <h1 class="title">Simplex</h1>
      <div class="container box">
        <h1 class="subtitle">Numero de variables</h1>
        <input v-model="noVariables" class="input" type="text" value="1" />
      </div>
      <Objetivo
        v-on:objetiveChange="cambiarObjetivo"
        :funcion="funcionObjetivo"
        :obj="objetivo"
        :varsNumber="parseInt(noVariables)"
      ></Objetivo>
      <Restricciones :matrix="restricciones" :nVars="parseInt(noVariables)"></Restricciones>
      <div class="container has-text-centered">
        <button @click="verDatos" class="button is-info is-fullwidth">Calcular</button>
      </div>
      <div v-if="tables.length>0" class="container">
        <div v-for="(dat,index) in tables" :key="index" class="content box">
          <h1 class="subtitle">Tabla {{index}}</h1>
          <b-table class="container has-text-centered" :data="dat.data" :columns="dat.fields"></b-table>
        </div>
      </div>
      <div v-if="tables.length>0" class="container">
        <div v-for="(dat,index) in Solucion" :key="index" class="content box">
          <h1 class="subtitle">Solucion {{index}}</h1>
          <b-table class="container has-text-centered" :data="dat.data" :columns="dat.fields"></b-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Objetivo from "./components/Objetivo.vue";
import Restricciones from "./components/Restricciones.vue";
var cmd = require("node-cmd");
export default {
  name: "app",
  components: {
    Objetivo,
    Restricciones
  },
  data() {
    return {
      objetivo: "Minimizar",
      noVariables: 1,
      restricciones: [[]],
      funcionObjetivo: [],
      tables: [],
      Solucion: []
    };
  },
  methods: {
    verDatos() {
      var datos = {
        objetivo: this.objetivo,
        noVariables: parseInt(this.noVariables),
        funcionObjetivo: this.funcionObjetivo,
        restricciones: this.restricciones
      };
      var parametro = JSON.stringify(datos).replace(/"/g, '\\"');
      cmd.get("py ./pyScript/test.py " + parametro, (err, data, stderr) => {
        if (!err) {
          var res = JSON.parse(data);
          var matrix = [];
          for (var mat of res.Matrices) {
            matrix.push({
              data: JSON.parse(mat).data,
              fields: JSON.parse(mat.replace(/name/g, "field")).schema.fields
            });
          }
          for (var fi of matrix) {
            for (var ef of fi.fields) {
              ef.label = ef.field;
            }
          }
          this.tables = matrix;
          var aux = {};
          aux.data = JSON.parse(res.Solucion).data;
          aux.fields = JSON.parse(
            res.Solucion.replace(/name/g, "field")
          ).schema.fields;
          for (var fi of aux.fields) {
            fi.label = fi.field;
          }
          this.Solucion = [aux];
        } else {
          console.log("error", err);
        }
      });
    },
    cambiarObjetivo(value) {
      this.objetivo = value;
    }
  }
};
</script>
